.row{
    max-width: 144rem;
    margin: 0 auto;
    box-sizing: border-box;
    

    @include clearfix;
    .col-1-of-2{
        
        float: left;
        width: calc((100% - #{ $gutter-horizantal})/2);

        &:not(:last-child){
            
        }
        
    }

    .col-1-of-3{
        
        float: left;
        margin:0 auto;
        width: calc((100% - (#{ $gutter-horizantal})*2)/3.5);
        

        
        
    }
   


}
