.header_main{
    height: 95vh;
   margin: 2%;
    clip-path: polygon(0 10% ,100% 0% ,100% 90% , 0 100%);;
    background-image: url(../img/DAB.jpg);
    background-size: cover;
    border-radius: 0.8rem;
    box-shadow: 0rem 0rem 2rem rgba(black , 590);
    
}

