.footer-main{
    
    background-color: $color-primary;
    padding: 2rem;
    height: 100%;
    box-sizing: border-box;
    margin-top: 1.9rem;
    
    
    
    -webkit-clip-path: circle(50% at 8% 76%);
clip-path: circle(50% at 8% 76%);



}